<!-- Blog posts index -->
<%= render "blog_posts_hero_banner" %>
<div class="container">
  <main>
    <section id="blog-posts-index">
      <div class="row justify-content-start align-items-center">
        <h2 class="mt-5 mb-4">Blog Posts</h2>
        <% @blog_posts.each do |blog_post| %>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card card-blog-post shadow-sm rounded-4 mb-4">
              <div class="card-body p-4">
                <%= image_tag blog_post.img_url, alt: "Blog post featured image", class: "img-fluid rounded-4 mb-3 border border-secondary" %>
                <%= link_to blog_post_path(blog_post), class: "text-decoration-none text-dark" do %>
                  <h3 class="card-title fw-bold my-2"><%= blog_post.title %></h3>
                <% end %>
                <p class="card-text small text-muted">Posted on <%= blog_post.created_at.strftime("%B %d, %Y") %></p>
                <p class="card-text text-muted"><%= blog_post.description.capitalize %></p>
                <hr class="my-3">
                <p class="text-blog-tags">
                  <%= blog_post.tags %>
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <%= link_to "View Full Post", blog_post_path(blog_post), class: "btn btn-outline-dark outline-d-btn rounded-4 px-4 py-2 fw-medium w-100 my-3" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </main>
</div>
