<!-- Blog post new -->
<%= render "new_hero_banner" %>
<div class="container">
  <section id="new-blog-post">
    <h2 class="mt-5 mb-4">New blog post</h2>
    <%= simple_form_for @blog_post do |f| %>
      <%= f.input :title, label: "Blog Post Title", hint: "Make the title 3-4 words long for optimal blog post card height. Capitalize the beginning of each word." %>
      <%= f.input :description, as: :text, label: "Blog Post Description", hint: "Make the description 30-40 words long to optimally fill out the blog post cards." %>
      <%= f.input :img_url, label: "Featured Image URL", hint: "Use image aspect ratio 3:2 (w:h). Preference is to use images already in the project folder (omit .png or file extensions). Careful! Typos will break the app. Can also use an external URL starting with HTTPS://", placeholder: "abstract-waves" %>
      <%= f.input :tags, label: "Tags", placeholder: "Rails 7 . ActionMailer . Gmail . Heroku . Contact Form . Tutorial", hint: "Add tags to categorize the blog post and identify the post type eg. tutorial, code or career insights? Order doesn't matter. Show 2-6 tags (capitalized) and separating each one with ' . '" %>
      <%= f.input :html_content, as: :text, rows: 12, label: "HTML Code For Your Blog Post", hint: "Guide: (1) Use single quotes ' ' for HTML attribute values and escape any apostrophes inside with a 'backslash' in front, (2) can use bootstrap and custom classes as well as inline styles, (3) the <style> element doesn't work and is meant to be in the <head>, (4) the attribute target='_blank' attribute doesn't work and may be sanitized, (5) adding plain text without any HTML won't break the web app, (6) your HTML code is already wrapped inside the following elements: <div class='container'><article>[YOUR CODE]</article></div>, (7) keep to a consistent style & familiar structure, (8) start the blog post with a <h2> tag (<h1> is already used once at the top of the page), (9) no <script> elements, and (10) optimize it for SEO.", placeholder: "<h1 class='text-primary'>Ruby on Rails History</h1> <p style='color: black; font-size: 16px text-align: left;'>Before <a href='https://rubyonrails.org/' target='_blank' title='Can\'t open this'>Rails</a>, web development was often tedious, requiring developers to write boilerplate code for repetitive tasks like database queries, request handling, and routing. Rails introduced a revolutionary principle: Convention over Configuration.</p>" %>
      <div class="d-flex justify-content-end my-4 gap-3">
        <%= f.button :submit, "Create", class: "btn btn-primary rounded-4 p-2" %>
        <%= link_to "Cancel", blog_posts_path, class: "btn btn-outline-dark rounded-4 p-2" %>
      </div>
    <% end %>
  </section>
</div>
