<nav class="navbar navbar-expand-sm navbar-dark navbar-lb" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand ms-2" do %>
      <%= image_tag "lb-circle-logo-light-tp", alt: "Logo" %>
      <%#= image_tag "lb-overlap-logo-light-tp", alt: "Logo" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Portfolio", root_path, class: nav_link_class(root_path) %>
          </li>
          <li class="nav-item">
            <%= link_to "Projects", projects_path, class: nav_link_class(projects_path) %>
          </li>
          <li class="nav-item me-1">
            <%= link_to "Blog", blog_posts_path, class: nav_link_class %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle ms-2" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "dog2", class: "avatar", alt: "Dropdown menu and user avatar image." %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Create Project", new_project_path, class: nav_link_dropdown_class(new_project_path) %>
              <%= link_to "Create AI Post", "#", class: nav_link_dropdown_class %>
              <%= link_to "Profile", profile_path, class: nav_link_dropdown_class(profile_path) %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item text-dark" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Portfolio", root_path, class: nav_link_class(root_path) %>
          </li>
          <!-- Once there are more than 6 projects add `Project` page to NavBar and change hero banner secondary button to "Key Projects". -->
          <!-- <li class="nav-item">
            <%#= link_to "Projects", "#", class: "nav-link text-light" %>
          </li> -->
          <li class="nav-item">
            <%= link_to "Projects", projects_path, class: nav_link_class(projects_path) %>
          </li>
          <li class="nav-item">
            <%= link_to "Blog", blog_posts_path, class: nav_link_class %>
          </li>
          <li class="nav-item me-3 ms-2">
            <%= link_to "Contact Me", root_path(anchor: "contact"), class: "btn btn-primary btn-sm rounded-5 btn-nav" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
