<!-- Education -->
<section id="education">
  <div class="container">
    <h3 class="mb-3">Education & certifications</h3>
    <p>My education background and key certifications sorted by relevance first.</p>
    <div class="row">
      <!-- Le Wagon certification -->
      <div class="col-12 col-lg-6">
        <div class="card card-education shadow-sm rounded-4 my-3">
          <div class="card-body p-4">
            <%= link_to "https://www.lewagon.com/", class: "text-decoration-none fs-5", target: "_blank" do %>
              Le Wagon <i class="fa-solid fa-code"></i>
            <% end %>
            <p class="card-text text-muted small">AI Software Development Bootcamp, Tokyo Japan, 2025</p>
          </div>
        </div>
      </div>
      <!-- Nucamp certification -->
      <div class="col-12 col-lg-6">
        <div class="card card-education shadow-sm rounded-4 my-3">
          <div class="card-body p-4">
            <%= link_to "https://www.nucamp.co/", class: "text-decoration-none fs-5", target: "_blank" do %>
              Nucamp <i class="fa-solid fa-code"></i>
            <% end %>
            <p class="card-text text-muted small">Full Stack Web and Mobile Development Bootcamp, Online, 2023-2024</p>
          </div>
        </div>
      </div>
      <!-- Digital Marketing Institute certification -->
      <div class="col-12 col-lg-6">
        <div class="card card-education shadow-sm rounded-4 my-3">
          <div class="card-body p-4">
            <%= link_to "https://digitalmarketinginstitute.com/", class: "text-decoration-none fs-5", target: "_blank" do %>
              Digital Marketing Institute <i class="fa-solid fa-bullhorn"></i>
            <% end %>
            <p class="card-text text-muted small">Professional Diploma in Digital Marketing, Online, 2018</p>
          </div>
        </div>
      </div>
      <!-- Newcastle University certification -->
      <div class="col-12 col-lg-6">
        <div class="card card-education shadow-sm rounded-4 my-3">
          <div class="card-body p-4">
            <%= link_to "https://www.ncl.ac.uk/", class: "text-decoration-none fs-5", target: "_blank" do %>
              Newcastle University <i class="fa-solid fa-graduation-cap"></i>
            <% end %>
            <p class="card-text text-muted small">Bachelor of science in marine biology, Newcastle Upon-Tyne UK, 2008-2011</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Download full resume button -->
    <%= link_to "/docs/test-resume.pdf", download: "text-resume.pdf", class: "btn btn-outline-dark btn-lg rounded-5 mb-3 mt-5" do %>
      <i class="fa-solid fa-download"></i> Download Full Resume
    <% end %>
  </div>
</section>
