<!-- Hero banner -->
<div id="hero-banner" class="d-flex justify-content-center align-items-start text-center">
  <%= render "social_vertical_bar" %>
  <div class="container mt-5">
    <div class="mt-5">
      <h1 class="text-light">
        Hi,<br>
        I'm Louis,<br>
        web developer
      </h1>
      <h2 class="lighter-gray mb-4">Fullstack Developer / Ruby-on-Rails</h2>
      <div class="d-flex justify-content-center align-items-center gap-3">
        <!-- CTA Button -->
        <!-- Desktop: large button (hidden on mobile) -->
        <%= link_to "Contact Me", "#contact", class: "btn btn-primary btn-lg rounded-5 custom-btn d-none d-sm-block" %>
        <!-- Mobile: Small button (hidden on desktop) -->
        <%= link_to "Contact Me", "#contact", class: "btn btn-primary btn-sm rounded-5 custom-btn d-block d-sm-none"  %>
        <!-- Secondary Button -->
        <!-- Desktop: large button (hidden on mobile) -->
        <%= link_to "Key Projects", "#featured-projects", class: "btn btn-outline-light btn-lg rounded-5 custom-btn d-none d-sm-block" %>
        <!-- Mobile: Small button (hidden on desktop) -->
        <%= link_to "Key Projects", "#featured-projects", class: "btn btn-outline-light btn-sm rounded-5 custom-btn d-block d-sm-none" %>
      </div>
    </div>
    <div class="chevron-scroll">
      <%= link_to "#featured-projects", class: "d-flex flex-column align-items-center justify-content-center text-decoration-none" do %>
        <i class="fas fa-angle-double-down"></i>
      <% end %>
    </div>
  </div>
</div>
