<!-- Social vertical bar -->
  <div class="social-vertical d-flex flex-column justify-content-center align-items-center">
    <%= link_to "https://github.com/louiskb", target: "_blank", rel:"noopener", class: "mb-3" do %>
      <i class="fa-brands fa-github"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/louis-bourne/", target: "_blank", rel:"noopener", class: "mb-3" do %>
      <i class="fa-brands fa-linkedin"></i>
    <% end %>
    <%= link_to "https://www.fiverr.com/s/LdGw534", target: "_blank", rel:"noopener", class: "mb-3" do %>
      <i class="fa-solid fa-briefcase"></i>
    <% end %>
    <%= link_to "https://discord.com/users/brothercap", target: "_blank", rel:"noopener", class: "mb-3" do %>
      <i class="fa-brands fa-discord"></i>
    <% end %>
    <%= link_to "mailto:dev@louisbourne.me", target: "_blank", rel:"noopener", class: "mb-3" do %>
      <!-- <i class="fa-regular fa-envelope"></i> -->
      <i class="fa-solid fa-envelope"></i>
    <% end %>
  </div>
