 <!-- Technologies and skills -->
<section id="technology-and-skills">
  <div class="container">
    <h2 class="mb-3">Technology and skills</h2>
    <h4 class="fs-5 mb-2">What I'm good at</h4>
    <div class="row">
      <div class="col-6 col-md-6">
        <h5 class="fs-6">Frontend</h5>
        <div class="d-flex justify-content-start align-items-center">
          <%= image_tag "javascript", alt: "JavaScript icon", class: "tech-icon p-3" %>
          <%= image_tag "html5", alt: "HTML 5 icon", class: "tech-icon p-3" %>
          <%= image_tag "css3", alt: "CSS 3 icon", class: "tech-icon p-3" %>
          <%= image_tag "sass", alt: "Sass icon", class: "tech-icon p-3" %>
          <%= image_tag "bootstrap", alt: "Bootstrap icon", class: "tech-icon p-3" %>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h5 class="fs-6">Backend</h5>
        <div class="d-flex justify-content-start align-items-center">
          <%= image_tag "ruby", alt: "Ruby icon", class: "tech-icon p-3" %>
          <%= image_tag "postgresql", alt: "PostgreSQL icon", class: "tech-icon p-3" %>
          <%= image_tag "rspec", alt: "Rspec icon", class: "tech-icon p-3" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <h5 class="fs-6 mt-3">Frameworks & Libraries</h5>
        <div class="d-flex justify-content-start align-items-center">
          <%= image_tag "ruby-on-rails", alt: "Ruby-on-rails icon", class: "tech-icon p-3" %>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h5 class="fs-6 mt-3">Tools</h5>
        <div class="d-flex justify-content-start align-items-center">
          <%= image_tag "github", alt: "Github icon", class: "tech-icon p-3" %>
          <%= image_tag "figma", alt: "Figma icon", class: "tech-icon p-3" %>
        </div>
      </div>
    </div>
    <h4 class="fs-5 mt-3 mb-2">What I'm learning</h4>
    <div class="row">
      <div class="col-12 col-md-6">
        <h5 class="fs-6">Frameworks & Libraries</h5>
        <div class="d-flex justify-content-start align-items-center">
          <%= image_tag "react", alt: "React icon", class: "tech-icon p-3" %>
          <%= image_tag "vuejs", alt: "Vue.js icon", class: "tech-icon p-3" %>
        </div>
      </div>
    </div>
  </section>
