<%= render "hero_banner" %>
<div class="container">
  <%= render "featured_projects", projects: @projects %>
  <%= render "demo_day" %>
  <%= render "tech_skills" %>
  <%= render "certifications" %>
  <%= render "about_me" %>
  <%= render "contact" %>
</div>
