<!-- Project edit -->
<%= render "edit_hero_banner", project: @project %>
<div class="container">
  <section id="edit-project">
    <h2 class="mt-5 mb-4">Edit project</h2>
    <%= simple_form_for @project do |f| %>
      <%= f.input :title, label: "Project Title", hint: "Capitalize the appropriate letters manually." %>
      <%= f.input :personal_project, label: "Personal Project" %>
      <%= f.input :private_repo, label: "Private Github Repo" %>
      <%= f.input :description, as: :text, label: "Project Description", hint: "If more than 2 'non-personal' projects, describe briefly open source contribution focus." %>
      <%= f.input :tech_stack, label: "Tech Stack", hint: "Show 3-6 main technologies (capitalized) and separating each one with ' . '", placeholder: "Ruby-on-Rails . Bootstrap . StimulusJS . PostgreSQL . Active Record" %>
      <%= f.input :img_url, label: "Feature Image URL", hint: "Preference is to use images already in the project folder (omit .png or file extensions). Careful! Typos will break the app. Can also use an external URL starting with HTTPS://", placeholder: "<name-feature-screenshot> eg. sipfolio-cocktail-screenshot" %>
      <%= f.input :github_url, label: "Github URL", placeholder: "https://github.com/louiskb/rails-mister-cocktail", hint: "Prefix 'https://'" %>
      <%= f.input :project_url, label: "Project URL", placeholder: "https://www.sipfolio.rocks", hint: "Prefix 'https://'" %>
      <div class="d-flex justify-content-end my-4 gap-3">
        <%= f.button :submit, "Submit", class: "btn btn-primary rounded-4 p-2" %>
        <%= link_to "Cancel", projects_path, class: "btn btn-outline-dark rounded-4 p-2" %>
      </div>
    <% end %>
  </section>
</div>
