<!-- Projects Index -->
<%= render "projects_hero_banner" %>
<div class="container">
  <section id="projects-index">
    <div class="row justify-content-start align-items-center">
      <h2 class="mt-5 mb-4">My projects</h2>
      <% @personal_projects.each do |project| %>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="card card-project shadow-sm rounded-4 mb-4">
            <div class="card-body p-4">
              <h3 class="card-title fw-bold mb-2"><%= project.title %></h3>
              <p class="card-text small text-muted mb-3">
                <%= project.description.capitalize %>
              </p>
              <%= image_tag project.img_url, alt: "Project screenshot", class: "img-fluid rounded-4 mb-3 border border-secondary" %>
              <!-- <p class="mb-4 text-secondary text-tech-stack">
              Ruby-on-Rails &nbsp;.&nbsp; JavaScript &nbsp;.&nbsp; Ruby &nbsp;.&nbsp; PostgreSQL
            </p> -->
              <p class="mb-4 text-secondary text-tech-stack">
                <%= project.tech_stack %>
              </p>
              <div class="d-flex justify-content-between align-items-center mt-2">
                <%= link_to project.github_url, class: "btn btn-link github-btn p-0", target: "_blank", rel: "noopener" do %>
                  <i class="fa-brands fa-github fs-3 text-dark"></i>
                <% end %>
                <%= link_to "Live Demo", project.project_url, class: "btn btn-outline-dark outline-d-btn rounded-4 px-4 py-2 fw-medium", target: "_blank", rel: "noopener" %>
              </div>
              <!-- If user is signed-in show the 'Edit' button -->
              <% if user_signed_in? %>
                <div class="d-flex justify-content-end mt-4 mb-2">
                  <%= link_to project_path(project), class: "btn btn-secondary rounded-4" do %>
                    <i class="fa-solid fa-pen-to-square fs-5"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <hr class="mt-5 mb-3">
    <!-- Open Source Project Contributions-->
    <% @open_source_projects.each do |project| %>
      <div class="row justify-content-start align-items-center">
        <h2 class="mt-5 mb-4">Open source contributions</h2>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="card card-project shadow-sm rounded-4 mb-4">
            <div class="card-body p-4">
              <h3 class="card-title fw-bold mb-2"><%= project.title %></h3>
              <p class="card-text small text-muted mb-3">
                <%= project.description.capitalize %>
              </p>
              <%= image_tag project.img_url, alt: "Open source project screenshot", class: "img-fluid rounded-4 mb-3 border border-secondary" %>
              <!-- <p class="mb-4 text-secondary text-tech-stack">
              Ruby-on-Rails &nbsp;.&nbsp; JavaScript &nbsp;.&nbsp; Ruby &nbsp;.&nbsp; PostgreSQL
            </p> -->
              <p class="mb-4 text-secondary text-tech-stack">
                <%= project.tech_stack %>
              </p>
              <div class="d-flex justify-content-between align-items-center mt-2">
                <%= link_to project.github_url, class: "btn btn-link github-btn p-0", target: "_blank", rel: "noopener" do %>
                  <i class="fa-brands fa-github fs-3 text-dark"></i>
                <% end %>
                <%= link_to "View Project", project.project_url, class: "btn btn-outline-dark outline-d-btn rounded-4 px-4 py-2 fw-medium", target: "_blank", rel: "noopener" %>
              </div>
              <!-- If user is signed-in show the 'Edit' button -->
              <% if user_signed_in? %>
                <div class="d-flex justify-content-end mt-4 mb-2">
                  <%= link_to project_path(project), class: "btn btn-secondary rounded-4" do %>
                    <i class="fa-solid fa-pen-to-square fs-5"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>
