<!DOCTYPE html>
<html>
  <head>
    <title>Louis' Dev Portfolio</title>
    <%= favicon_link_tag "lb-circle-logo-light.png" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>

    <%= link_to "Skip to main content", "#main-content", class: "visually-hidden-focusable" %>

    <!-- NavBar -->
    <%= render "shared/navbar" %>

    <!-- Flashes and app notifications -->
    <%= render "shared/flashes" %>

    <!-- View content -->
    <%= yield %>

    <!-- <p class="notice"><%#= notice %></p> -->
    <!-- <p class="alert"><%#= alert %></p> -->

    <!-- Footer -->
    <%= render "shared/footer" %>

  </body>
</html>
